@model MVCDemo.ViewModels.AccountListViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
    Index
}
@section HeaderSection{
    <link href="~/Content/Site.css" rel="stylesheet" />
}
@section ContentBody{
    <div class="container">
        @using (Html.BeginForm())
        {
            <p>
                请输入您要搜索的景点名称 ： @Html.TextBox("Search")
                <input type="submit" value="搜索" class="btn btn-default"/>
            </p>
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>景点名称</th>
                    <th>所属国家</th>
                    <th>所在城市</th>
                    <th>景点类型</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (MVCDemo.Models.ScenicInfo item in Model.ScenicInfo)
                {
                    <tr>
                        <td>@item.ScenicName</td>
                        <td>@item.ScenicCountry</td>
                        <td>@item.ScenicCity</td>
                        <td>@item.ScenicType</td>
                        <td>@Html.ActionLink("详情", "Detail", new { id = item.ScenicID })</td>
                        <td>@Html.ActionLink("编辑", "Edit", new { id = item.ScenicID })</td>
                        <td>@Html.ActionLink("删除", "Delete", new { id = item.ScenicID })</td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
}
