@model MVCDemo.ViewModels.IndexViewModel
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section TitleSection{
    Index
}
@section HeaderSection{
    <link href="~/Content/Site.css" rel="stylesheet" />
    
}
@section ContentBody{
    <h2>Index</h2>
    <div class="row body-content">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">最新用户</li>
                @foreach (MVCDemo.Models.UserInfo item in Model.UserInfos)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(@item.UserName, "IndexUser", new { id = item.UserName })
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-8">
            <h4>最热门景点</h4>
            <hr />      
            @foreach (MVCDemo.Models.ScenicInfo item in Model.ScenicInfos)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        景点名字：@Html.ActionLink(@item.ScenicName, "DetailScenic", new { id = item.ScenicID })
                    </div>
                    <div class="panel-body">
                        @Html.Raw(@item.ScenicIntro.Substring(0, (@item.ScenicIntro.Length >= 100) ? 100 : @item.ScenicIntro.Length))         
                    </div>
                    <div class="panel-footer">
                        所属国家： @item.ScenicCountry     地理位置： @item.ScenicAddress
                    </div>
                </div>
            }
        </div>
    </div>
}
